.DS_Store
/src/sz_detection_challenge2025.egg-info/
/.venv/
/Sz_venv/
/tests/notebooks/
/tests/read_data.py
.gitignore
__pycache__/
*draft*.py
/data/**
/logs/**
launch.json
copy_recent_files.sh
output/**
